{% extends "base.html" %}

{% load static %}
{% load cloudinary %}

{% block content %}

<div class="container-fluid">
    <!-- Create a post section -->
    {% if user.is_authenticated %}
    <div class="row add-post-container border mx-1 mx-sm-3 mb-5">
        <a href=" {% url 'post_create' %}" class="text-decoration-none">
            <p>Add a post!</p>
        </a>
    </div>
    {% endif %}

    <!-- Post list display: either Latest or Top based on view_type -->
    {% for post in posts %}
    <div class="row my-3 m-sm-3 post-display">
        <div class="col-md-3">
            <p class="mb-0">Posted by <strong>{{post.author}}</strong></p>
            <p>{{post.created_on}}</p>
        </div>
        <div class="col-md-9">
            <!-- Link to an individual post display-->
            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                <p><strong>{{ post.title }}</strong></p>
                <!-- Display category  -->
                {% for category in post.categories.all %}
                {% if category.id == 1 %}
                <i class="fas fa-person-hiking ms-2"></i>
                {% elif category.id == 2 %}
                <i class="fas fa-apple-whole ms-2"></i>
                {% elif category.id == 3 %}
                <i class="fas fa-campground ms-2"></i>
                {% endif %}
                {% endfor %}
                <p class="pt-2 pb-2">{{ post.get_content_preview | safe }}... <small class="text-muted">See more</small>
                </p>
            </a>
            <!-- Image display -->
            <div class="row">
                {% if post.image1 %}
                {% if post.image2 %}
                <div class="col-md-6">
                    <img class="img-fluid" src="{% cloudinary_url post.image1.url width=600 crop='fill' %}"
                        alt="{{ post.title }}" loading="lazy">
                </div>
                <div class="col-md-6">
                    <img class="img-fluid mt-2 mt-md-0" src="{% cloudinary_url post.image2.url width=600 crop='fill' %}"
                        alt="{{ post.title }}" loading="lazy">
                </div>
                {% else %}
                <div class="col-md-12">
                    <img class="img-fluid" src="{% cloudinary_url post.image1.url width=1200 crop='fill' %}"
                        alt="{{ post.title }}" loading="lazy">
                </div>
                {% endif %}
                {% endif %}
            </div>
            <!-- Likes and comments -->
            <div class="d-flex mt-4 likes-comments-display">
                <!-- Like count -->
                <div class="me-4 d-flex align-items-center">
                    <i class="fa-regular fa-thumbs-up me-2"></i>
                    <span class="count">{{ post.likes.count | safe }}</span>
                </div>
                <!-- Comment count -->
                <div class="d-flex align-items-center">
                    <i class="fa-regular fa-comment me-2"></i>
                    <span class="count">{{ post.comment_count | safe}}</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}

    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.previous_page_number }}{% if view_type %}&amp;view_type={{ view_type }}{% endif %}{% if current_category %}&amp;category={{ current_category }}{% endif %}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}
            {% for page_num in page_obj.paginator.page_range %}
            {% if page_num == page_obj.number %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    {{ page_num | safe }}
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_num }}{% if view_type %}&amp;view_type={{ view_type }}{% endif %}{% if current_category %}&amp;category={{ current_category }}{% endif %}">
                    {{ page_num | safe }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.next_page_number }}{% if view_type %}&amp;view_type={{ view_type }}{% endif %}{% if current_category %}&amp;category={{ current_category }}{% endif %}"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}

<!-- Login message -->
{% block login_message %}

<div class="row mx-1 mx-sm-3 pt-3">
    {% if user.is_authenticated %}
    <p><strong>Welcome to Jurtaka Hiking Forum! You are logged in as
            <span class="pink-text">{{ user }}</span></strong>
    </p>
    {% else %}
    <p><strong>Welcome to Jurtaka Hiking Forum! You are not logged in. Please <a class="link signup-link pink-text"
                href="{% url 'account_login' %}">log in
            </a>to post and comment!</strong></p>
    {% endif %}
</div>

{% endblock %}