{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Create a new post -->
<div class="container container-white col-md-8 p-4">
    <!-- Exit button -->
    <a href="{% url 'home' %}" aria-label="go back home">
        <i class="fa-solid fa-xmark float-end"></i>
    </a>
    <h2>New post</h2>
    <form method="post" class="mt-4">
        {% csrf_token %}
        {{ post_form.as_p | safe }}
        <div class="row d-flex justify-content-center">
            <div class="col-10 col-lg-6 pt-3 pb-3">
                <button class="btn btn-primary btn-block w-100" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}