{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<!-- Individual post display -->
<div class="container container-p-detail pt-4">
    <!-- Go back arrow -->
    <a href="{% url 'home' %}" aria-label="go back home" class="ps-4">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
    <div class="row m-3">
        <p class="mb-0">Posted by <strong>{{post.author}}</strong></p>
        <p>{{post.created_on}}</p>
        <p><strong>{{ post.title }}</strong></p>
        <p>{{ post.post_content | safe }}</p>
    </div>
    <!-- Comment count -->
    <div class="row m-3">
        <div class="col-12">
            <span class="ps-4"><i class="fa-regular fa-comment"></i> {{ comment_count }}</span>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Edit button and link to edit posts -->
    {% if user.is_authenticated and post.author == user and post.status != 3 %}
    <a href="{% url 'post_edit' slug=post.slug post_id=post.id %}" class="btn btn-edit">Edit my post</a>
    {% endif %}
    <!-- Add comment -->
    {% if user.is_authenticated %}
    {% if post.status != 3 %}
    <div class="row m-3">
        <form id="commentForm" method="post" class="form-inline">
            {% csrf_token %}
            {{ comment_form | crispy }}
            <button id="submitButton" type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
    {% else %}
    <div class="row m-3">
        <p>Your post will be updated shortly!</p>
    </div>
    {% endif %}
    {% else %}
    <div class="row m-3">
        <p><strong>You are not logged in. Please <a class="link signup-link" href="{% url 'account_login' %}">log in
                </a>to comment!</strong></p>
    </div>
    {% endif %}

    <!-- Comments -->
    <div class="row m-3">
        {% for comment in comments %}
        <div class="comment-container my-3">
            <div class="pt-3">
                <p>
                    <span><strong>{{ comment.author }}</strong></span> on {{ comment.created_on }}
                </p>
            </div>
            <div id=>
                {{ comment.comment_content | linebreaks }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block post-edit-btn %}
<script src="{% static 'js/post_edit.js' %}"></script>
{% endblock %}