{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Contact form -->
<div class="container container-white col-md-6 p-4">
    <!-- Exit button -->
    <a href="{% url 'home' %}" aria-label="go back home">
        <i class="fa-solid fa-xmark float-end"></i>
    </a>
    <div class="pt-4 pb-3">
        <h4><strong>Contact Support</strong></h4>
    </div>
    <form method="post">
        {{ contact_form | crispy }}
        {% csrf_token %}
        <div class="d-grid gap-2 col-4 mx-auto pt-5 pb-3"><button class="btn btn-primary center"
                        type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}